.fade-in-onload {
  margin-left: -20px;
  opacity: 0;
  -webkit-transition: .5s;
     -moz-transition: .5s;
          transition: .5s;
}

/* !IMPORTANT! data-timeoutseq attribute gets added to element to initiate transition in */
.fade-in-onload[data-stepped] {
  margin-left: 0;
  opacity: 1;
}